<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" >
<listeners>
<listener class-name="initlistners.Itestresilt"/>
<listener class-name="initlistners.AnnoteTrans"/>
</listeners>
  <test  name="Test">
    <classes>
      <class name="docker.parallelexecution"/>
      <class name="docker.parallelexecution2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
